.Canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

canvas {
  border: 2px solid black;
  background-color: white;
}
